html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333; /*#292b2c;*/
  background-color: #fff;
}

address {
  font-style: normal;
}

a {
  color: #333;
}

header {
  margin-bottom: 1rem;
}

header > h1 {
  text-align: center;
  margin: 0.2rem 0;
}

header > address {
  text-align: center;
  margin-bottom: 1rem;
}

header > address:last-of-type {
  margin-bottom: 0;
}

main {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

section p,
section > ul > li {
  margin-top: 0;
  margin-bottom: 1rem;
}

section:last-of-type,
section p:last-of-type,
section > ul > li:last-of-type {
  margin-bottom: 0;
}

section h2,
section h3,
section address {
  margin: 0;
  font-size: 1rem;
}

section > h2 {
  font-weight: normal;
  font-variant-caps: small-caps;
  margin-bottom: 1rem;
}

section > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section > ul > li {
  position: relative;
}

section > ul address {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

section > ul ul {
  list-style: disc;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media print, (min-width: 768px) {
  header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  header > h1 {
    width: 100%;
    flex: 0 0 auto;
  }

  header > address {
    width: 50%;
    flex: 0 0 auto;
    margin-bottom: 0;
  }

  header > address:first-of-type {
    text-align: left;
  }

  header > address:last-of-type {
    text-align: right;
  }
}

@media print, (min-width: 992px) {
  section {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
  }

  section > h2 {
    width: 15%;
    flex: 0 0 auto;
    margin-bottom: 0;
  }

  section > ul {
    width: 85%;
    flex: 0 0 auto;
  }

  section > ul > li {
    position: relative;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  body {
    font-family: "Times New Roman", Times, serif;
  }

  a {
    text-decoration: none;
  }

  section > h2 {
    font-size: 1.2rem;
  }
}
