html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333; /*#292b2c;*/
  background-color: #fff;
}

address {
  font-style: normal;
}

.resume-header {
  display: flex;
  flex-flow: row wrap;
}

.resume-header__name {
  flex: 1 100%;
  text-align: center;
  margin: 0.2rem 0;
}

.resume-header__address {
  flex: 1 auto;
}

.resume-header__address:first-of-type {
  text-align: left;
}

.resume-header__address:last-of-type {
  text-align: right;
}

.resume-section {
  display: flex;
}

.resume-section__title {
  width: 15%;
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
}

.resume-section__items {
  width: 85%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-header {
  display: flex;
  flex-flow: row wrap;
}

.item-header__left {
  width: 60%;
  text-align: left;
}

.item-header__right {
  width: 40%;
  text-align: right;
}

.item-title {
  margin: 0;
  font-size: 1.2em;
}

.item-dates {
  margin: 0;
}

.item-description {
  margin: 0;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

